* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;

  body {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    
    #app {
      font-family: Avenir, Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      a {
        font-weight: bold;
        color: #2c3e50;
    
        &.router-link-exact-active {
          color: #42b983;
        }
      }
    }
  }
}

/* width of the entire scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar { /* Chrome/Opera/Safari */
    width: 0;
}
::-moz-scrollbar,
::-webkit-scrollbar { /* Firefox 19+ */
    width: 0;
}

// Transition for Vue Template
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
