@mixin positionProperties($value, $top, $left, $bottom, $right, $transform_value, $w, $h) {
  position: $value;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  transform: $transform_value;
  width: $w;
  height: $h;
}
